<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="UploaderContent.Properties.Settings.localdbConnectionString"
                        connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\localdb.mdf;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>